$white : white;
$black : black;

$primary : rgb(45, 130, 19);
$primary-lite : rgb(70, 147, 202);
$primary-dark : rgb(174, 34, 34);

$secondary : rgb(239, 174, 21);
$secondary-lite :  #a0b6ee33;
$secondary-dark : rgba(124, 140, 151, 0.138);

$base : #fdf6d8;