$white : white;
$black : black;

$primary : rgb(217, 109, 109);
$primary-lite : rgb(254, 184, 184);
$primary-dark : rgb(174, 34, 34);

$secondary : rgb(74, 74, 201);
$secondary-lite : rgb(157, 157, 236);
$secondary-dark : rgb(33, 33, 159);

$base : #fdf6d8;