body {
  background-color: white;
  font-family: "Arial", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
==========================================
   Header Design
==========================================
*/
.navigation-wrap {
  background-color: rgb(239, 246, 247);
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 8000;
  transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  color: rgb(19, 11, 11);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.navbar .nav-list {
  display: flex;
  justify-content: center;
}
.navbar .nav-item {
  list-style: none;
}
.navbar .nav-link {
  text-decoration: none;
  color: rgb(86, 84, 84);
  font-weight: bold;
  font-size: 1rem;
}
.navbar .button {
  padding: 0.3125rem 1.4375rem;
  box-shadow: none;
  border-radius: 20px;
  background-color: rgb(40, 133, 22);
  border: none;
  color: white;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 2rem;
  color: rgb(51, 49, 49);
}

/*
==========================================
   top-banner Design
==========================================
*/
.topbanner {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.topbannercontent {
  position: absolute;
  top: 20%;
  left: 5%;
  text-align: left;
}

.banner-btn {
  padding: 10px 10px;
  box-shadow: none;
  margin-left: 8.625rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.031372549);
  border: none;
  color: white;
  border: 1px solid #ffffff;
  font-weight: 500;
  position: relative;
}

/*
==========================================
   story section
==========================================
*/
.story-section {
  width: 100%;
  min-height: 40.125rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.595)), url("../img/banner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  display: grid;
  place-items: center;
}
.story-section .text-content {
  background-color: white;
  border-radius: 10px;
  text-align: justify;
  padding: 30px;
}
.story-section .storybtn {
  background-color: #08a637;
  border-radius: 10px;
  padding: 8px 20px;
  box-shadow: none;
  border: none;
  color: white;
  font-weight: 500;
}

/*
==========================================
    about section
==========================================
*/
.we-help-section {
  padding: 5rem 0;
  background-color: rgba(157, 173, 214, 0.2549019608);
}

.we-help-section .imgs-grid {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  position: relative;
}

.we-help-section .imgs-grid .grid {
  position: relative;
}

.we-help-section .imgs-grid .grid img {
  border-radius: 20px;
  max-width: 100%;
}

.we-help-section .imgs-grid .grid.grid-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 16;
  grid-column: 1/span 16;
  -ms-grid-row: 1;
  -ms-grid-row-span: 30;
  grid-row: 1/span 30;
}

.we-help-section .imgs-grid .grid.grid-2 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 15;
  grid-column: 10/span 15;
  -ms-grid-row: 6;
  -ms-grid-row-span: 30;
  grid-row: 10/span 30;
}

.about-content h3 {
  color: #248a0d;
  font-weight: 700;
  font-size: 20px;
}
.about-content h2 {
  font-weight: 700;
}

.custom-list {
  width: 100%;
}

.custom-list li {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 10px;
  line-height: 1.5;
  position: relative;
  padding-left: 20px;
}

.custom-list li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 10px 100px/120px;
  background-color: #14a31b;
  border: 2px solid #0c0d0c;
  position: absolute;
  left: 0;
  top: 8px;
}

.aboutbtn {
  background-color: #08a637;
  border-radius: 10px;
  padding: 8px 20px;
  box-shadow: none;
  border: none;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

/*
==========================================
    services section
==========================================
*/
.services h6 {
  font-weight: 700;
}
.services h2 {
  font-weight: 700;
  font-size: 40px;
}
.services .cardesign {
  padding: 20px;
  box-shadow: 0px 6px 5px 2px rgba(15, 13, 13, 0.064);
}
.services h5 {
  font-weight: 700;
  position: relative;
}
.services h5::after {
  content: "";
  background-color: #458fda;
  position: absolute;
  bottom: -20px;
  height: 3px;
  width: 30%;
  left: 0;
}
.services .circle-icon {
  background: #458fda;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 50px;
  padding: 15px;
}
.services .card {
  border: none;
}

/*
==========================================
     newsletter section
==========================================
*/
.newslettar {
  background-color: rgba(143, 147, 144, 0.1490196078);
  height: 20.125rem;
  /* Form Control */
}
.newslettar .newsleter h6 {
  color: #458fda;
}
.newslettar .newsleter h2 {
  font-weight: 700;
}
.newslettar .newsletter {
  width: 25%;
  margin: 0 auto;
}
.newslettar .newsletter .form-control {
  padding: 12px;
  font-size: 13px;
  float: left;
  width: 80%;
  background-color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px 0 0 5px;
}
.newslettar .subscribe-btn {
  float: left;
  width: 20%;
  padding: 12px;
  background: #08a637;
  color: white;
  font-size: 13px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0px;
}
.newslettar .newsletter .form-control:hover,
.newslettar .newsletter .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: rgba(16, 142, 177, 0.444);
}

/*
==========================================
     footer section
==========================================
*/
.footer-section {
  padding: 50px 0;
  background: #080909;
}

.footer-section a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s all ease;
}

.footer-section a:hover {
  color: rgba(66, 203, 241, 0.944);
}

.footer-section h3 {
  color: #ffffff;
  font-weight: 600;
}

.footer-section i {
  color: #45bfda;
  padding: 5px;
}

@media (min-width: 992px) {
  .footer-section .links-wrap {
    margin-top: 54px;
  }
}
.footer-section .links-wrap ul li {
  margin-bottom: 5px;
}

.footer-section .footer-logo-wrap .footer-logo {
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  color: #f3f5f7;
}

.footer-section .custom-social li {
  margin: 2px;
  display: inline-block;
}

.footer-section .custom-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #ebeded;
  color: #1aaedb;
  border-radius: 50%;
}

.footer-section .custom-social li a:hover {
  background: #11adad;
  color: #ffffff;
}

.footer-section .border-top {
  border-color: #dce5e4;
}

.footer-section .border-top.copyright {
  font-size: 14px !important;
  color: #ebf1f3;
  padding: 0 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.slider {
  margin-bottom: 30px;
}

.slider-card {
  background: #fff;
  border: none;
}

.slider-card img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  padding: 10px 150px;
}

.slider-text h6 {
  color: rgb(40, 133, 22);
}
.slider-text h1 {
  font-weight: 700;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #1e8d9b !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #a9a4a4 !important;
}

.star-rating i {
  font-size: 18px;
  color: #ffdc12;
  align-items: center;
}

.overview {
  text-align: center;
  padding-bottom: 5px;
}

.overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}

.owl-nav .owl-prev, .owl-next {
  display: none;
}

/*
==========================================
     blogs section
==========================================
*/
.img1 {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.5)), url("../img/hero-fullscreen-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.img1 .img-overlay {
  padding: 20px;
  position: absolute;
  bottom: 0;
}

.img1 .img-overlay h6 {
  color: white;
}

.img1 .img-overlay .readmore-btn {
  color: #080909;
  box-shadow: none;
  border: none;
  background-color: #ffb012;
  padding: 3px 10px;
  font-size: 15px;
}

.imgbtn {
  display: flex;
  position: absolute;
  top: 0;
  padding: 20px;
}

.imgbtn .img-top-btn {
  background-color: #ffb012;
  border-radius: 15px;
  padding: 4px 10px;
  box-shadow: none;
  border: none;
  color: white;
  font-weight: 400;
  margin-right: 5px;
  font-size: 12px;
}

.col-md-4 .img1 {
  height: 19vh;
  width: 100%;
  margin-bottom: 18px;
}
.col-md-4 .img1 .img-overlay {
  padding: 8px;
  position: absolute;
  bottom: 0;
}
.col-md-4 .img1 .img-overlay h6 {
  font-size: 10px;
  color: white;
}
.col-md-4 .img1 .readmore-btn {
  color: #080909;
  box-shadow: none;
  border: none;
  background-color: #ffb012;
  font-size: 10px;
}
.col-md-4 .img1 .imgbtn {
  display: flex;
  position: absolute;
  top: 0;
  padding: 10px;
  font-size: 10px;
}

.blogs h2 {
  font-weight: 700;
  font-size: 46px;
}

/* Media Query for Tablets and Smaller Screens */
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar.active .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    background-color: rgba(219, 229, 240, 0.9843137255);
    z-index: 1;
    align-items: start;
  }
  .navbar.active .nav-list {
    display: block;
    align-items: start;
  }
  .navbar.active .menu .nav-item {
    text-align: center;
    margin: 10px 0;
  }
  .topbanner {
    height: 60vh;
  }
  .topbannercontent {
    top: 10%;
  }
  .banner-btn {
    margin-left: 1rem;
  }
  .story-section {
    padding: 30px;
  }
  .story-section .text-content {
    width: 100%;
    padding: 30px;
  }
  .newslettar .newsletter {
    width: 100%;
  }
}
/* Media Query for Mobile Phones */
@media screen and (max-width: 480px) {
  .topbanner {
    height: 45vh;
    width: 100%;
  }
  .topbannercontent {
    top: 10%;
    font-size: 10px;
  }
  .banner-btn {
    margin-left: 0.5rem;
    font-size: 6px;
  }
  .story-section {
    padding: 20px;
  }
}