body {
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
==========================================
   Header Design
==========================================
*/
.navigation-wrap {
  background-color: antiquewhite;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}

.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}

.nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(33, 33, 159);
  letter-spacing: 1px;
}

.navigation-wrap .main-btn {
  padding: 0.3125rem 1.4375rem;
  box-shadow: none;
  border-radius: 20px;
  background-color: rgb(40, 133, 22);
  border: none;
  color: white;
}

/*
==========================================
   top-banner Design
==========================================
*/
.topbanner {
  position: relative;
  background-image: url(../img/banner.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.topbanner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background-color: hsla(0, 0%, 0%, 0.65);
}

.topbannercontent {
  position: absolute;
  top: 20%;
  left: 5%;
  text-align: left;
}

.banner-btn {
  padding: 10px 10px;
  box-shadow: none;
  margin-left: 8.625rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.031372549);
  border: none;
  color: white;
  border: 1px solid #ffffff;
  font-weight: 500;
  position: relative;
}